body{
  background-color: var(--primary-color,#F6F3EE);
  width: var(--page-width);
  color: #555;
}
p.story_short{
  display: none;
}

/* Banner */
main.main div.banner{
  /* border: 1px solid green; */
  width: 100%;
  height: 250px;
  font-size: 0;
  background-color: var(--secondary-color-1);
  margin-bottom: 100px;
  overflow: hidden; /* 為了使得子元素的margin-top不作用在此父元素所進行的設定 */
}
@media(max-width: 767.98px){
  main.main div.banner{
    height: auto;
  }
}
main.main div.banner h1.page_title{
  font-size: 3rem;
  margin: 20px 0 20px 70px;
}
@media(max-width: 767.98px){
  main.main div.banner h1.page_title{
    font-size: 2.6rem;
    margin: 10px 0 10px 45px;
  }
}
main.main div.banner div.decoration_image{
  /* border: 1px solid red; */
  display: inline-flex;
  width: 50%;
  justify-content: space-around;
  padding-left: 40px;
}
@media(max-width: 1199.98px) and (min-width: 992px){
  main.main div.banner div.decoration_image{
    width: 60%;
    padding: 0 calc((60% - 585px) / 2);
  }
}
@media(max-width: 991.98px) and (min-width: 768px){
  main.main div.banner div.decoration_image{
    width: 65%;
    padding: 0 calc((60% - 460px) / 2);
  }
}
@media(max-width: 767.98px){
  main.main div.banner div.decoration_image{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0 2%;
  }
}
@media(max-width: 575.98px){
  main.main div.banner div.decoration_image{
    justify-content: space-around;
  }
}
main.main div.banner div.decoration_image img{
  width: 160px;
  height: 120px;
}
@media(max-width: 991.98px) and (min-width: 576px){
  main.main div.banner div.decoration_image img{
    width: 140px;
    height: 105px;
  }
}
@media(max-width: 767.98px) and (min-width: 576px){
  main.main div.banner div.decoration_image img{
    margin-right: 25px;
  }
}
@media(max-width: 575.98px){
  main.main div.banner div.decoration_image img{
    width: 30%;
    height: 22.5%;
  }
}
main.main div.banner div.decoration_text{
  /* border: 1px solid blue; */
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
@media(max-width: 1199.98px) and (min-width: 992px){
  main.main div.banner div.decoration_text{
    width: 40%;
  }
}
@media(max-width: 991.98px) and (min-width: 768px){
  main.main div.banner div.decoration_text{
    width: 35%;
  }
}
@media(max-width: 767.98px){
  main.main div.banner div.decoration_text{
    display: block;
    width: 100%;
  }
}
main.main div.banner div.decoration_text p.decoration_text{
  font-size: 1.6rem;
  margin: 20px 40px;
}
@media(max-width: 1199.98px) and (min-width: 992px){
  main.main div.banner div.decoration_text p.decoration_text{
    margin: 20px;
  }
}
@media(max-width: 991.98px) and (min-width: 768px){
  main.main div.banner div.decoration_text p.decoration_text{
    font-size: 1.5rem;
    margin: 0px 30px 0 10px;
  }
}
@media(max-width: 767.98px){
  main.main div.banner div.decoration_text p.decoration_text{
    font-size: 1.4rem;
    margin: 20px 4%;
  }
}


/* 分隔線 */
main.main div.decoration_line{
  width: 95%;
  height: 0;
  border: 1px dashed var(--secondary-color-2);
  margin: 0 auto;
}


/* 主區域 */
main.main div.story_board{
  /* border: 1px solid black; */
  padding: 50px calc((100% - 1130px) / 2);
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 500px 500px 500px;
  grid-auto-rows: 500px;
  grid-gap: 50px 40px;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1198px) and (min-width: 768px){
  main.main div.story_board{
    grid-template-columns: 350px 350px;
    grid-gap: 50px 120px;
    padding: 50px calc((100% - 920px) / 2);
  }
}
@media (max-width: 991.98px) and (min-width: 768px){
  main.main div.story_board{
    grid-gap: 50px 20px;
    padding: 50px calc((100% - 720px) / 2);
  }
}
@media (max-width: 767.98px) and (min-width: 576px){
  main.main div.story_board{
    grid-template-columns: 350px;
    grid-gap: 75px 0px;
    padding: 50px calc((100% - 400px) / 2);
  }
}
@media (max-width: 575.98px){
  main.main div.story_board{
    grid-template-columns: 350px;
    grid-gap: 50px 0px;
    padding: 50px calc((100% - 350px) / 2);
  }
}
@media (max-width: 400px){
  main.main div.story_board{
    grid-template-rows: 550px;
    grid-auto-rows: 500px;
    padding: 50px calc((100% - 300px) / 2);
    grid-gap: 60px 0px;
  }
}
main.main div.story_board div.story_card{
  /* border: 1px solid red; */
  display: inline-block;
  width: 350px;
  height: 500px;
  position: relative;
  /* background-color: var(--secondary-color-1); */
}
@media (max-width: 1198px) and (min-width: 992px){
  main.main div.story_board div.story_card{
    width: 400px;
  }
}
@media (max-width: 767.98px) and (min-width: 576px){
  main.main div.story_board div.story_card{
    width: 400px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, .4);
  }
}
@media (max-width: 400px){
  main.main div.story_board div.story_card{
    width: 300px;
    height: 500px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, .4);
  }
}
main.main div.story_board div.story_card:hover{
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
}
main.main div.story_board div.story_card div.date{
  border: 1px solid rgba(0, 0, 0, .3);
  position: absolute;
  top: 25px;
  width: 70px;
  height: 25px;
  font-size: 1.4rem;
  padding: 2px 3px;
  background-color: var(--secondary-color-2);
  border-radius: 1px;
  z-index: 10;
}
main.main div.story_board div.story_card a.story_image{
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}
main.main div.story_board div.story_card a.story_image img.story_image{
  width: 300px;
  height: 300px;
  transition: all 0.5s;
}
main.main div.story_board div.story_card a.story_image:hover img.story_image{
  width: 300px;
  height: 300px;
  transform: scale(1.05);
}
main.main div.story_board div.story_card div.title_area{
  /* border: 1px solid green; */
  padding: 10px 25px 5px 25px;
}
@media (max-width: 1198px) and (min-width: 992px){
  main.main div.story_board div.story_card div.title_area{
    padding: 10px 50px 5px 50px;
  }
}
@media (max-width: 767.98px) and (min-width: 576px){
  main.main div.story_board div.story_card div.title_area{
    padding: 10px 50px 5px 50px;
  }
}
@media (max-width: 400px){
  main.main div.story_board div.story_card div.title_area{
    padding: 10px 10px 5px 10px;
  }
}
main.main div.story_board div.story_card div.title_area img{
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
main.main div.story_board div.story_card div.title_area h2.story_title{
  display: inline-block;
  vertical-align: top;
  /* margin: 0; */
  width: 210px;
  font-size: 1.8rem;
  margin-left: 8px;
}
@media (max-width: 400px){
  main.main div.story_board div.story_card div.title_area h2.story_title{
    width: 200px;
    margin-left: 0;
    padding: 0 0 0 10px;
  }
}
main.main div.story_board div.story_card p.story_short{
  /* border: 1px solid orange; */
  margin: 0 0 5px 0;
  padding: 0px 25px 0 25px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
@media (max-width: 1198px) and (min-width: 992px){
  main.main div.story_board div.story_card p.story_short{
    padding: 0px 50px 0 50px;
  }
}
@media (max-width: 767.98px) and (min-width: 576px){
  main.main div.story_board div.story_card p.story_short{
    padding: 0px 50px 0 50px;
  }
}
@media (max-width: 400px){
  main.main div.story_board div.story_card p.story_short{
    padding: 0px 15px 0 15px;
  }
}
main.main div.story_board div.story_card a.go_to{
  display: inline-block;
  background-color: #547794;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 25px;
  bottom: 10px;
  padding: 3px 5px;
  border-radius: 5px;
}
@media (max-width: 1198px) and (min-width: 992px){
  main.main div.story_board div.story_card a.go_to{
    right: 35px;
  }
}
@media (max-width: 767.98px) and (min-width: 576px){
  main.main div.story_board div.story_card a.go_to{
    right: 35px;
  }
}


/* paganition */
main.main div.pagination{
  /* border: 1px solid blue; */
}
main.main div.pagination ul.pagination{
  /* border: 1px solid red; */
  width: 280px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100px;
}
@media (max-width: 400px){
  main.main div.pagination ul.pagination{
    width: 210px;
  }
}
main.main div.pagination ul.pagination > li{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #999;
  border-right: 0;
}
@media (max-width: 400px){
  main.main div.pagination ul.pagination > li{
    width: 30px;
    height: 30px;
  }
}
main.main div.pagination ul.pagination > li:last-child{
  border-right: 1px solid #999;
}
main.main div.pagination ul.pagination > li > a{
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  text-decoration: none;
  color: #666;
  text-align: center;
  line-height: 2.2em;
}
@media (max-width: 400px){
  main.main div.pagination ul.pagination > li > a{
    font-size: 1.6rem;
    line-height: 1.9em;
  }
}
main.main div.pagination ul.pagination > li > a:hover{
  color: var(--primary-color);
  background-color: #666
}
main.main div.pagination ul.pagination > li > a > span{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.6em;
}
@media (max-width: 400px){
  main.main div.pagination ul.pagination > li > a > span{
    line-height: 1.3em;
  }
}
