body{
  background-color: var(--primary-color,#F6F3EE);
  width: var(--page-width);
  color: #555;
}


/* Banner */
main.main div.banner{
  /* border: 1px solid green; */
  width: 100%;
  height: 250px;
  font-size: 0;
  background-color: var(--secondary-color-1);
  margin-bottom: 100px;
  overflow: hidden; /* 為了使得子元素的margin-top不作用在此父元素所進行的設定 */
}
main.main div.banner h1.page_title{
  font-size: 3rem;
  margin: 20px 0 20px 70px;
}
main.main div.banner div.decoration_image{
  /* border: 1px solid red; */
  display: inline-flex;
  width: 50%;
  justify-content: space-around;
  padding-left: 40px;
}
main.main div.banner div.decoration_image img{
  width: 160px;
  height: 120px;
}
main.main div.banner div.decoration_text{
  /* border: 1px solid blue; */
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
main.main div.banner div.decoration_text p.decoration_text{
  font-size: 1.6rem;
  margin: 20px 40px;
}


/* 分隔線 */
main.main div.decoration_line{
  width: 95%;
  height: 0;
  border: 1px dashed var(--secondary-color-2);
  margin: 0 auto;
}


/* 主區域 */
main.main div.story_board{
  /* border: 1px solid black; */
  width: var(--page-width);
  padding: 50px 75px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 500px 500px 500px;
  grid-auto-rows: 500px;
  grid-gap: 50px 40px;
}
main.main div.story_board div.story_card{
  /* border: 1px solid red; */
  display: inline-block;
  width: 350px;
  height: 500px;
  position: relative;
  /* background-color: var(--secondary-color-1); */
}
main.main div.story_board div.story_card:hover{
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
}
main.main div.story_board div.story_card div.date{
  border: 1px solid rgba(0, 0, 0, .3);
  position: absolute;
  top: 25px;
  width: 70px;
  height: 25px;
  font-size: 1.4rem;
  padding: 2px 3px;
  background-color: var(--secondary-color-2);
  border-radius: 1px;
  z-index: 10;
}
main.main div.story_board div.story_card a.story_image{
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}
main.main div.story_board div.story_card a.story_image img.story_image{
  width: 300px;
  height: 300px;
  transition: all 0.5s;
}
main.main div.story_board div.story_card a.story_image:hover img.story_image{
  width: 300px;
  height: 300px;
  transform: scale(1.05);
}
main.main div.story_board div.story_card div.title_area{
  /* border: 1px solid green; */
  padding: 10px 25px 5px 25px;
}
main.main div.story_board div.story_card div.title_area img{
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
main.main div.story_board div.story_card div.title_area h2.story_title{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 210px;
  font-size: 1.8rem;
  margin-left: 8px;
}
main.main div.story_board div.story_card p.story_short{
  /* border: 1px solid orange; */
  margin: 0 0 5px 0;
  padding: 0px 25px 0 25px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
main.main div.story_board div.story_card a.go_to{
  display: inline-block;
  background-color: #547794;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 25px;
  padding: 3px 5px;
  border-radius: 5px;
}


/* paganition */
main.main div.pagination{
  /* border: 1px solid blue; */
}
main.main div.pagination ul.pagination{
  /* border: 1px solid red; */
  width: 280px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100px;
}
main.main div.pagination ul.pagination > li{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #999;
  border-right: 0;
}
main.main div.pagination ul.pagination > li:last-child{
  border-right: 1px solid #999;
}
main.main div.pagination ul.pagination > li > a{
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  text-decoration: none;
  color: #666;
  text-align: center;
  line-height: 2.2em;
}
main.main div.pagination ul.pagination > li > a:hover{
  color: var(--primary-color);
  background-color: #666
}
main.main div.pagination ul.pagination > li > a > span{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.6em;
}
